{% set small_model = small_model|default(false) %}
{% set routine_replay_mode = routine_replay_mode|default(false) %}
{%- if small_model -%}
{%- include "system_prompt_small.j2" -%}
{%- else -%}
{%- include "system_prompt_large.j2" -%}
{%- endif -%}
